BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach

# Force multiline for function definitions
AllowShortFunctionsOnASingleLine: None

# Allow short if/loops/switch on single line
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

ColumnLimit: 80
